body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.container {
    width: 1100px;
    margin: 20px auto; /* Centers the container horizontally */
    background-color: #cffffa75;
    border-radius: 10px; /* Rounds the corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    padding: 20px; /* Optional padding inside the container */
}

header {
  background-color: white;
  border-radius: 20px;
    color: black;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 200px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
  
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
}

.articles article {
    background-color: #ffe9e9;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1 0 20px rgba(0, 0, 1, 0.1);
    text-align: center;
}

.articles article img {
    max-width: 100%;
    border-radius: 5px;
}

.articles article h2 {
    color: #333;
    font-size: 20px;
    margin: 15px 0 10px;
}

.articles article p {
    color: #777;
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
